header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    font-family: 'Sora';
    font-size: 20px;
}

header h1 {
    margin: 0;
    font-size: 50px;
}

body {
    font-family: 'Sora';
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.login {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 20px;
}

img {
    height: 150px;
    width: 150px;
}